.all-articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    row-gap: 2em;
}

.card-link {
  text-decoration: inherit;
  color: inherit;
}

@media only screen and (max-width: 768px) {
    .all-articles {
      margin-top: 2em;
      row-gap: 1em;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .all-articles {
      margin-top: 1em;
      row-gap: 0.5em;
    }
  }